body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#gameArea {
    position: relative;
    width: 100%; /* Menggunakan lebar penuh untuk responsif */
    height: 400px; /* Tinggi tetap */
    max-width: 600px; /* Maksimal lebar untuk perangkat besar */
    border: 2px solid #fff;
    overflow: hidden;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    top: 190px;
    left: 290px;
    display: none; /* Sembunyikan bola saat permainan belum dimulai */
}

.paddle {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: #fff;
    bottom: 10px;
    left: 50%; /* Posisikan di tengah */
    transform: translateX(-50%); /* Sesuaikan posisi */
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
